.row
  .col-sm-6
    .panel.panel-flat
      .panel-heading
        %h6.panel-title
          Nowa osoba
          - if @register.org_unit
            pracująca w
            %strong
              = @register.org_unit.name
      .panel-body
        = form_for(@register, url: persons_path) do |f|
          = app_error_messages(f.object)
          = rw_hidden_back_url
          = f.hidden_field :org_unit_id
          .row
            .col-xs-4
              = rwf_select f, :person_title_id, @person_titles, { include_blank: true, rw_required: true }
            .col-xs-4
              = rwf_select f, :job_title_id, @job_titles, { include_blank: true, rw_required: true }
            .col-xs-4
              = rwf_select f, :collab, @collab_list, { include_blank: true, rw_required: true }
          .row
            .col-xs-4
              = rwf_text_field f, :first_name, rw_required: true
            .col-xs-5
              = rwf_text_field f, :last_name, rw_required: true
            .col-xs-2
              = rwf_check_box f, :unknown_name
          .row
            .col-xs-5
              = rwf_text_field f, :phone
            .col-xs-7
              = rwf_text_field f, :email
          = rwf_text_field f, :www

          .text-right
            = link_to "Anuluj", redirect_back_url, class: "rwc-RedirectBack btn btn-link"
            = f.submit "Dodaj", class: "btn btn-primary"
