.row
  .col-md-8
    .panel.panel-flat
      .panel-heading
        %h6.panel-title
          Edycja wizyty odbytej
      .panel-body
        = form_for(@visit, url: reported_activity_visit_path) do |f|
          = rw_hidden_back_url
          = app_error_messages(f.object)
          .row
            .col-md-6
              .form-group
                = f.text_field :activity_on, class: "form-control datepicker", placeholder: "data wizyty", data: { provide: "datepicker" }
              .form-group
                = rwf_field f, :text_area, :comments
            .col-md-6
              %p
                = @visit.org_unit.presenter.view_name
                %br
                = @visit.address.presenter.view_short

                - @visit.activity_participants.each do |p|
                  %br
                  = p.person.presenter.view_name

          .text-right
            = link_to "Anuluj", redirect_back_url, class: "rwc-RedirectBack btn btn-link"

            -#- if @visit.policy.can_destroy?
            -#  = link_to "Usuń", planned_activity_visit_path(redirect_back_params), method: :delete,
            -#      class: "btn btn-link", data: { confirm: "Czy na pewno usunąć wizytę?" }
            -#
            -#- if @visit.policy.can_convert_to_reported?
            -#  = link_to "Wizyta odbyta", convert_to_reported_planned_activity_visit_path(redirect_back_params), method: :post,
            -#      class: "btn btn-link"

            = f.submit "Zapisz", class: "btn btn-primary"
