.row
  .col-md-5
    .panel.panel-flat
      .panel-heading
        %h6.panel-title
          - if @set.new_record?
            New set
          - else
            Edit set
      .panel-body
        = form_for([:admin, @set]) do |f|
          = rw_hidden_back_url
          = app_error_messages(f.object)
          = rwf_text_field f, :position
          = rwf_check_box  f, :global
          = rwf_text_field f, :abbr
          = rwf_text_field f, :name
          = rwf_text_field f, :description
          .text-right
            = f.submit class: "btn btn-primary"
