.row
  .col-md-5
    .panel.panel-flat
      .panel-heading
        %h6.panel-title
          Nowy użytkownik
      .panel-body
        = form_for(@user, url: users_path) do |f|
          = rw_hidden_back_url
          = app_error_messages(f.object)
          = rwf_text_field f, :first_name, autofocus: true
          = rwf_text_field f, :last_name
          = rwf_text_field f, :email
          = rwf_text_field f, :phone
          = rwf_select f, :app_role_id, @app_roles, { include_blank: true }
          = rwf_select f, :emp_position_id, @emps, { include_blank: true }
          = rwf_check_box f, :send_invitation
          .text-right
            = link_to "Anuluj", redirect_back_url, class: "rwc-RedirectBack btn btn-link"
            = f.submit "Dodaj użytkownika", class: "btn btn-primary"
